*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.create-announce-bar{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.create-announce-bar h1{
    left:150px;
}

.add-btn{
    width: 40px;
    height: auto;
    left:100px;
}

.btn-create{
    position: absolute;
    left: 150px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.btn-create:hover{
    cursor: pointer;
    color: blue;
}

.modal{
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.337);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

}

.form-box{
    background-color: white;
    width: 50%;
    height: 500px;
    border-radius: 2%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box input[type="text"]{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
}

.form-box input[type="number"]{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
}

.form-box button{
    width: 100px;
    height: 40px;
    background-color: rgb(52, 52, 253);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.258);
}

.form-box button:hover{
    color: blue;
    background-color: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.258);
}

.exit-btn{
    width: 30px;
    height: auto;

    position: absolute;

    top: 110px;
    right: 380px;
}
.exit-btn:hover{
    cursor: pointer;
    transition: 1s;
}
